# Ignore virtual environment
venv/
# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore the IDE-specific files
.vscode/
.idea/

# Ignore the system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore any temporary files
*.bak
*.swp